/* #solutions{
    animation: MoveUpDown 50s linear infinite;
}
@keyframes MoveUpDown {
    from {
        bottom: 63px;
    }
    to { 
        bottom: 400px;
    }
}

#thoery{
    animation-name: the;
}
@keyframes the {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */